/* You can add global styles to this file, and also import other style files */
.alert-container {
    position: absolute;
}

.flashfade {
    animation-name: flashfade;
    animation-duration: 5.1s;
    display: block;
}

@keyframes flashfade {
    0% {opacity:0}
    20% {opacity:1}
    80% {opacity:1}
    100% {opacity:0}
}
