<h2 class="page-header mb-5">Dashboard</h2>
<p>Welcome to your dashboard</p>

<!-- <div class="row">
    <div class="col-sm-6">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Messages</h5>
                <p class="card-text">List of messages got from contact page.</p>
                <a href="#" class="btn btn-dark">Messages</a>
            </div>
        </div>
    </div>
    

    <div class="col-sm-6">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Users</h5>
                <p class="card-text">List of registered users.</p>
                <a href="#" class="btn btn-dark">Users</a>
            </div>
        </div>
    </div>
</div> -->